<%= turbo_frame_tag 'game', class: 'w-full' do %>
  <div class="w-full" data-controller="slide">


    <% serie_count = session[SessionConstants::SERIES_COUNT_KEY] %>

    <%
      messages = [
        ["Ready&nbsp;?", "Go !"],
        ["Trop facile&nbsp;?", "ok"],
        ["T’en veux encore ?"],
        ["Quel intello&nbsp;!", "Prend ça"],
        ["On va corser le jeu&nbsp;!"],
        ["T’es toujours là&nbsp;?"],
        ["Tu vas perdre."],
      ]

      current_messages = messages[(serie_count / 10).floor]
    %>


    <div data-slide-target="slide" data-duration="2000" class="hidden">
      <div class="centered text-center block">
        <p class="text-[2rem] px-5 w-full message">
          <%= current_messages[0].html_safe %>
        </p>
      </div>
    </div>

    <% if current_messages.count > 1 %>
      <div data-slide-target="slide" data-duration="2000" class="hidden">

        <div class="centered text-center block">
          <p class="text-[2rem] w-full message">
            <%= current_messages[1].html_safe %>
          </p>
        </div>
    <% end %>

    <div data-slide-target="slide" data-duration="1000">
      <%= link_to 'Continue', play_path, data: {turbo_frame: 'game', 'slide-target': 'redirect'}, class: 'hidden' %>
      <!-- Necessary so the last one fully displays -->
    </div>
      </div>
<% end %>
