<div data-controller="slide" data-redirect-to="/play">
  <div data-slide-target="slide" data-duration="2000">

    <div class="centered text-center block">
      <p class="heading text-[2rem] w-full">
        <%= ['Trop facile ?', 'Un intello', 'Mmhh', 'Plus vite'].sample %>
      </p>
    </div>
  </div>

  <div data-slide-target="slide" data-duration="1000">
    <div class="centered text-center block">
      <p class="heading text-[2rem] w-full">
        <%= ['OK', "C'est parti", 'Prends ça', 'Tu vas voir', 'Go'].sample %>
      </p>
    </div>
  </div>
  <div data-slide-target="slide" data-duration="1000">
    <!-- Necessary so the last one fully displays -->
  </div>
</div>
