<%= turbo_frame_tag 'game', class: 'w-full' do %>
  <div class="w-full" data-controller="slide">


    <% serie_count = session[SessionConstants::SERIES_COUNT_KEY] %>


    <div data-slide-target="slide" data-duration="1000">
      <div class="centered text-center block">
        <p class="text-[2rem] px-5 w-full message">
          Game Over
        </p>
      </div>
    </div>

    <div class="centered text-center block">
      <p class="text-[2rem] w-full message p-5" data-slide-target="slide" data-duration="2000">
        Your score
      </p>
      <p data-slide-target="slide" data-duration="5000" data-slide-keep="true" class="text-[5rem] w-full message">
        <%= session[SessionConstants::SCORE_KEY].to_i %>
        <p class="text-xs">lol</p>
      </p>
    </div>


    <div data-slide-target="slide" data-duration="1000">
      <%= link_to 'Leaderboard', leaderboard_path, data: {turbo_frame: 'game', 'slide-target': 'redirect'}, class: 'hidden' %>
      <!-- Necessary so the last one fully displays -->
    </div>

  </div>
<% end %>
