<div data-controller="slide" class="text-white">
  <div data-slide-target="slide" data-duration="500" data-slide-keep="true">
    <h1 class="heading top-0 text-[5rem]" >Multy</h1>
    <div class="w-full">
      <h2 class="subheading w-fit ml-auto mr-5 my-3 text-sm">3000</h2>
    </div>
    <div class="centered text-center block">
      You lost, <em>loser</em> !
    </div>
  </div>

  <div data-slide-target="slide" data-duration="1000" data-slide-keep="true">
    <div class="centered text-center block">
      Your score :
      <%= session[:series] %>
    </div>
  </div>

  <div data-slide-target="slide" data-duration="3000" data-slide-keep="true">
    <div class="centered text-center block">
      <%= link_to 'Restart', restart_path, {data: { turbo_frame: 'game'}} %>
    </div>
  </div>
</div>
