
<div class=" absolute top-5 " >
  <%= image_tag 'logo.png', class: "w-[180px] h-[80px]" %>
</div>

<div class="text-center px-4" id="question">
  <%= form_tag(game_path) do %>
    <p class="text-primary text-justify max-w-[316px]">
      Répond à une série de calculs de plus en plus dure et devient le maître du jeu !
    </p>

    <%= text_field_tag(
      'name',
      nil,
      placeholder: 'joueur',
      class: "button border-0 text-primary bg-transparent my-2 max-w-[316px] text-xl font-bold",
      minlength: 3,
      value: session[:name]
      )
    %>

    <div class=" w-full flex justify-end">
      <%= submit_tag 'Valider',
         class: "button button-red p-1 max-w-[200px]"
      %>
    </div>
  <% end %>
</div>
