
<div class=" absolute top-5 left-[calc(50%-90px)]" >
  <%= image_tag 'logo.png', class: "w-[180px] h-[80px]" %>
</div>

<div class="text-center px-4" id="question">
  <%= form_tag(game_path, class: "max-w-[316px] mx-auto") do %>
    <p class="text-primary text-justify mx-auto">
      Répond à une série de calculs de plus en plus durs et deviens le maître du jeu !
    </p>

    <%= text_field_tag(
      'name',
      nil,
      placeholder: 'joueur',
      class: "button border-0 text-primary bg-transparent my-2 max-w-[316px] text-xl font-bold",
      minlength: 3,
      value: session[:name],
      data: { action: 'keyup->sounds#play', 'sounds-id-param': 'tic' }
      )
    %>

    <div class="w-full flex justify-end mx-auto">
      <%= submit_tag 'Valider',
         class: "button button-red p-1 max-w-[200px]"
      %>
    </div>
  <% end %>
</div>
