@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Yellowtail&display=swap");
:root {
	--background: #1F1F1F;
  --top-color: #4fcfef;
  --top-color-lighten:  #5fDfFf11;
  --top-color-hard: #cd5931;
  --top-color-hard-lighten:  #cd593111;

  --primary: #FF49E8;

  --ground-upper-color: #5C08F3;
  --ground-middle-color: #3E00CD;
  --ground-lower-color: #5C08F3;
}

*::before,
::after {
	content: "";
	position: absolute;
}

.game-container {
	width: 100vw;

	height: 100vh;

	background: black;
	display: grid;
	place-items: center;
	filter: saturate(130%) contrast(125%);
}

.game {
	overflow: hidden;
  min-width: 100%;
  min-height: 100vh;
	background: var(--background);
	display: grid;

	position: relative;
}

#top {
	height: 67%;

  //background: linear-gradient(180deg, #001855 -0.06%, #004CBF 10.55%, #3E00FF 11.51%, #4A7ADA 21.56%, #4C8DD4 21.57%, #82BCE4 30.63%, #A9DEEF 38.41%, #C2FFF4 44.58%, #CBFFEA 48.39%, #1D9666 53.85%, #0DFF9F 73.23%, #53FFBB 74.87%, #75FBC6 81.82%, #99FFD7 86.9%, #9FFFD9 89.53%, #E0FBF0 99.88%);
	box-shadow: 0 15px 50px 1px white;
	position: relative;
}

.gradient-blue {
	background: linear-gradient(
    transparent 40%,
    var(--top-color-lighten) 95%,
    var(--top-color) 99%,
    white 100%);
}

.gradient-red {
	background: linear-gradient(
    transparent 40%,
    var(--top-color-hard-lighten) 95%,
    var(--top-color-hard) 99%,
    white 100%);
}

#sky {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;

	background: repeating-linear-gradient(
			var(--primary) 2px,
			transparent 3px,
			transparent 30px
		),
		repeating-linear-gradient(90deg, var(--primary) 2px, transparent 3px, transparent 40px)
			10px 0;
	filter: drop-shadow(0 0 1px magenta) drop-shadow(0 0 3px magenta)
		drop-shadow(0 0 7px white);
	animation: move 10s linear infinite;
	opacity: 0.2;
}

#bottom {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	transform: perspective(500px) rotateX(65deg);
	//transform: perspective(150px) rotateX(55deg); // TODO: voir avec Laurie
	bottom: -15%;
	// background: linear-gradient(
	// 	90deg,
	// 	hotpink -60%,
	// 	transparent 40%,
	// 	transparent 60%,
	// 	hotpink 140%
	// );
  background: linear-gradient( // TODO: voir avec Laurie
		0deg,
		var(--ground-upper-color) 20% ,
		var(--ground-middle-color) 30%,
    var(--ground-lower-color) 100%
	);
	clip-path: polygon(0 100%, 0 55%, 100% 55%, 100% 100%);
}

#ground {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55%;
	background: repeating-linear-gradient(
			var(--primary) 1px,
			transparent 6px,
			transparent 30px
		),
		          repeating-linear-gradient(90deg,
                                        var(--primary) 1px,
                                        transparent 6px,
                                        transparent 60px); // TODO voir avec Laurie
	// filter: drop-shadow(0 0 1px white)
  //         drop-shadow(0 0 1px white)
	// 	      drop-shadow(0 0 1px white);
	animation: move 100s linear infinite; // TODO synchro avec la music BPM
}

#text {
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	place-items: center;
	justify-content: center;
}

@font-face{
  font-family: 'Number';
  src: url('number.ttf');
}

@font-face{
  font-family: 'Subheading';
  src: url('subheading.ttf');
}

.game *{
  font-family: 'Number';
}

.game .number {
  font-family: "Number";
}

.game .heading {
  // self
  margin: 20px;
  position: relative;
  top: 0;
  line-height: 1;

  // codepen
	color: transparent;
	text-transform: uppercase;
	//font-size: 5em;
	transform: translatey(25px);
  background: linear-gradient(97.33deg, #311196 -3.14%, #370AF5 37.15%, #99F8C9 78.82%); // self

  // codepend
	// background: linear-gradient(
	// 	cornflowerblue 30%,
	// 	white,
	// 	darkmagenta 60%,
	// 	cornflowerblue 100%
	// );

	background-size: contain;
	-webkit-background-clip: text;
	-webkit-text-stroke: 1px silver;
	filter:  drop-shadow(-1px 2px 0px magenta);
}

.game .subheading{
  color: var(--primary);
  padding: 0px 3px;
  font-weight: bold;
  font-family: "Subheading";
}
.game .bounce {
  // self
  @media(max-width: 400px){
  position: relative;
  left: 0;
  bottom: 3rem;
  line-height: 1;
  }

  // codepen
	color: white;
	font-family: "Yellowtail", cursive;
	font-weight: 100;
	font-size: 4em;
	transform: translatey(-10px) rotatez(-5deg);
	text-shadow: 0 0 3px magenta, 0 0 7px magenta, 0 0 15px black, 0 0 15px black;
	animation: hover 1s ease-in-out infinite;
}

.game .rotating{
  	animation: rotate 2s linear infinite;
}

.game .progress-container {
  width: calc(100vw - 20px);
  top: 5px;
  margin: 10px;

  progress{
    width: 100%;

    --gradient: linear-gradient(180deg, #001855 -0.06%, #004CBF 10.55%, #3E00FF 11.51%, #4A7ADA 21.56%, #4C8DD4 21.57%, #82BCE4 30.63%, #A9DEEF 38.41%, #C2FFF4 44.58%, #CBFFEA 48.39%, #1D9666 53.85%, #0DFF9F 73.23%, #53FFBB 74.87%, #75FBC6 81.82%, #99FFD7 86.9%, #9FFFD9 89.53%, #E0FBF0 99.88%);


    background-color: transparent;
    &::-moz-progress-bar { background-image: var(--gradient); }

    &::-webkit-progress-bar { background-color: transparent; }
    &::-webkit-progress-value { background-image: var(--gradient); }
    color: red;

  }
}

.game .button{
  width: 100%;
  min-width: 316px;

  min-height: 75px; // Image size
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("button.png");

  &:active {
    background-image: url("button_active.png");
    color: #FFF1FE;
  }
}

.text-primary {
  color: var(--primary);
}

@keyframes move {
	to {
		background-position-y: 2000px;
	}
}
@keyframes bg-shift {
	0% {
		background-position: 0 -25px;
	}
	100% {
		background-position: 0 25px;
	}
}

@keyframes rotate {
	0% {
		transform: rotatey(0);
	}
	100% {
    transform: rotatey(360deg);
	}
}

@keyframes hover {
	0% {
		transform: translatey(-10px) rotatez(-5deg) perspective(200px) translatez(0);
	}
	50% {
		transform: translatey(-10px) rotatez(-5deg) perspective(200px)
			translatez(50px);
	}
	100% {
		transform: translatey(-10px) rotatez(-5deg) perspective(200px) translatez(0);
	}
}
