.leaderboard{
  --secondary: #3E00FF;

  background-image: url('leaderboard.png');
  background-repeat: no-repeat;
  background-size: cover;

  .player {
    &:nth-of-type(2n){
      background-color: rgba(lightgrey, 0.4);
    }

    &.self{
      background-color: rgba(orange, 0.5);
    }
  }

  h1.message {
    font-size: 300%;
    color: var(--secondary)
  }

  .position{
    color: var(--primary);
  }

  .name, .score {
    color: var(--secondary);
  }

  .name {
    max-width: 100px;
    max-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
//
//     &::-webkit-scrollbar {
//       display: none;
//     }
//
//     /* Hide scrollbar for IE, Edge and Firefox */
//     -ms-overflow-style: none;  /* IE and Edge */
//     scrollbar-width: none;  /* Firefox */
  }


  .position {
    width: 36px;
    height: 36px;
    padding-left: 13px;
    border: 1px #3E00FF solid;
    border-radius: 100%;

    &.gold{
      border: 3px #FEB21E solid;
    }
  }
}
